.header {
    background-color: #004080; 
    color: white;
    padding: 20px;
    align-items: center;
}

.header h1 {
    text-align: center;
    font-size: 40px;
    margin: 10;

}

.header nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 50px;
    margin: 15;
}



.header nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease;
}

.header nav ul li a:hover {
    color: #ffcc00; /* Amarelo do Senac */
}